# Python
*.egg
*.egg-info
__pycache__
*.pyc
build/
dist/


# Javascript
node_modules/


## Unit test / coverage reports
.coverage



# IDEs and Vagrant
.idea
.vscode
.vagrant
*~
ubuntu-*-cloudimg-console.log

# Scripts
.ipynb_checkpoints


# Project
private
back/data*
talk/data/02202307_MESA/
back/tmp*
